/data

/.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/

# Jupyter Notebook
.ipynb_checkpoints


#perl
!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# C extensions
*.so

#haskel
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# rust
target/
debug/
Cargo.lock
**/*.rs.bk
*.pdb


# NIM
nim/aoc_solutions/**/day_[0-9][0-9]
nim/aoc_solutions/**/day_[0-9][0-9].exe

*not_mine*